@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}


  #scrollContainer > #center-items > #name {

    padding: 0px;
}

  img {
      display: none;
  }

  header{
  	width:100%;
  	background:#1d1f20;
  	height:50px;
  	line-height:50px;
  }
  .hamburger{
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height:45px;
    padding:0px 15px 0px 15px;
    color:#fff;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .cross{
    background:none;
    position:absolute;
    top:0px;
    right:0;
    padding:0px 15px 0px 15px;
    color:#fff;
    border:0;
    font-size:3em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#131313;  position:absolute; text-align:center;}
  .menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
  .menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
  .menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
  .menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
  .menu ul li a:hover {  color: #fff; text-decoration:none;}
  /*.menu a{text-decoration:none; color:white;}
  .menu a:hover{text-decoration:none; color:white;}*/

  body > .row > #menu {
    display:block;
    padding: 20px;
    height: 250px;
    padding-bottom:30px;
    position:absolute;
  }

  body > .row > #menu > #menu_inside > .option {
      display: block;
      padding-top: 20px;
      padding-bottom: 20px;


  }


  #scrollContainer > #how_it_works > #sub {
    color: white;
    font-size: 72px;
    text-align: left;
    letter-spacing: 12px;
    text-shadow: 2px 2px 3px #4A332E;
    display: block;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    margin-top: 36px;
    padding-bottom: 36px;
}

#scrollContainer > #how_it_works > #sub > .steps {
  width:100%;
  margin-bottom:12px;
}

  }


body {

/*font-family: 'Josefin Sans', sans-serif;*/

margin:0;
text-align:center;
font-family: 'Josefin Sans', sans-serif;
}

* {
    box-sizing: border-box;
}
.col-0-5 {width: 4.17%;}
.col-1 {width: 8.33%;}
.col-1-5 {width: 12.5%;}
.col-2 {width: 16.66%;}
.col-2-5 {width: 20.83%;}
.col-3 {width: 25%;}
.col-3-5 {width: 29.2%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-5-5 {width: 45.83%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-8-5 {width: 70.83%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    /*padding: 15px;*/
    /*border: 2px clear red;*/
}

a:link {
    text-decoration: none;
}

a {
  color:#201816;

}

a#bottom_button {
  color: #7b716b;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.mid-sec {
  height: 450px;
}

.bottom-sec {
  height:50px;
  padding-bottom: 120px;
}

.men-sec {
  height:55px;
}

#apiinput {
    background-color: #201816;
    /* width: 590px; */
    height: 100%;
    padding-top: 30px;
    /* padding-bottom: 10px; */
    /* position: absolute; */
    left: calc((100% - 590px)/2);
     /* Fall-back for browsers that don't
                                   support rgba */
    /* border-style: solid; */
    top: 250px;
    border-radius: 3px;
    border-color: black;
    z-index: 999;
    border-width: 1px;
}

#name {
      font-family: 'Lobster', cursive;
      color: #40342D;
      font-size: 60px;
      padding: 24px;
      padding-top: 80px;
      margin-left: calc(50% - 50%);
      text-shadow: 3px 3px 0px #e2d0c6;
}

#how_it_works {
    background-color: #FFF7CC;
    padding-bottom: 20px;
}

#grid_section_title {
  font-family: 'Lobster', regular;
  color: #201816;
  font-size: 48px;
  padding-top: 24px;
  letter-spacing: 2px;
  background-color: #FFF3B5;
  background-color: #FFF7CC;
  text-shadow: 2px 2px 0px rgba(147, 77, 33, 0.38);
}

#chat_section_title {
  font-family: 'Lobster', regular;
  color: #201816;
  font-size: 48px;
  padding-top: 24px;
  letter-spacing: 2px;
  /* background-color: 934D21; */
  text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.5);
  padding-bottom: 24px;
}


.chat_bot {
    background-color: #e1bf43;
}



.input_section {
    /* background-color: 934D21; */
    padding-bottom: 60px;
}
#title {
    height: 100vh;
    background: url("assets/original.jpg");
    position: relative;
}

#white-overlay {
    height: 100%;
    z-index:20;
    background-color: rgba(255, 255, 255, 0.45);
    width:100%
}

#main {
    font-size: 72px;
}

#sub {
    color: white;
    font-size: 72px;
    text-align: left;
    letter-spacing: 12px;
    text-shadow: 2px 2px 3px #4A332E;
    display: flex;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    margin-top: 36px;
}

.title-blocks{
  height: 316px;
}

#scrollContainer /* wraps #content, scrolls */
{
  overflow: auto; /* scroll! */
  position:relative; /* make offsetParent */
  top: 0; height: 100%; width: 100%; /* fill parent */
}


#menu {
        padding: 20px;
        rgba(255,0,0,0.1) : (0,0,0,1);
        font-size: 14px;
        letter-spacing: 1px;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.48);
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        z-index:99;
        text-align: center;
}

.option {
    display: inline;
    letter-spacing: 3px;
    /* padding: 20px; */
    margin-left: 15px;
    margin-right: 15px;
    /* padding-left: 20px; */
    -o-transition:.15s;
    -ms-transition:.15s;
    -moz-transition:.15s;
    -webkit-transition:.15s;
     /* ...and now for the proper property */
    transition:.15s;
    /* padding-right: 20px; */
}

.option:hover {
  cursor:pointer;
  color: #AFB679;
}


#chat_tab {
    color: #AD4716;
    /*background-color: #AD4716;*/
    /*color:white;*/
    /* padding: 20px 15px 20px 17px; */
    /* padding-bottom: 20px; */
    /* border-bottom-style: solid; */
    /* border-bottom-width: 1px; */
    /* border-bottom-color: rgba(173, 71, 22, 0.71); */
}


#input {
    width: 100%;
    padding: 2px;
    /* position: absolute; */
    left: 0px;
    bottom: 4px;
    height: 50;
    font-size: 14px;
    padding-left: 15px;
    border-bottom-left-radius: 3px;
}

#input: hover {
  cursor:text;
}


#space {
    background-color: white;
    height: 100%;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
    /* padding-top: 10px; */
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    border-style: solid;
    border-bottom-style: none;
    border-top-style: none;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: rgba(128, 128, 128, 0.22);
}

.textarea, #input{
  outline: none;
  resize: none;
}

#rec {
    background-color: #555555; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* position: absolute; */
    right: 0;
    bottom: 4px;
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    height: 30px;
    width: 100%;
    font-size: 12px;
    letter-spacing: 1px;
    border-bottom-right-radius: 3px;
}

.button {
    margin-left: 5px;
    margin-right: 5px border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius:2px;
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	20% { transform: scale(1.04); }
	40% { transform: scale(1.03); }
	60% { transform: scale(1.02); }
  80% { transform: scale(1.01); }
	100% { transform: scale(1); }
}

.pulse:hover {
	animation-name: pulse_animation;
	animation-duration: 500ms;
	transform-origin:70% 70%;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}


#place_order_button {
    background-color: #d8a17c;
}

#edit_order_button {
    background-color: #e1bf43;
}

#cancel_order_button {
    background-color: #caa0af;
}

#iknow_button {
    background-color: #b7bc81;
}

#yes_button {
    background-color: #b7bc81;
}

#no_button {
    background-color: #d8a17c;
}

p {
  color:blue;
}

#carousel {
		width: 590px;
		overflow:hidden;
		height: 200px;
		text-align: center;
		margin-left: calc(57.5% - 50%);
	}

	#carousel ul {
		width: 2360px;
		padding: 0;

	}

	#carousel ul li {
		width:590px;
		text-align: center;
		height: 280px;
		list-style: none;
		float:	left;
	}

.car_nav#right {
	display: inline;
	margin-left: calc(100% - 32px);
}


.car_nav#left {
    display: inline;
}

.car_nav {
  position: relative;
  bottom: 90px;


}



.car_nav:hover {
  cursor:pointer;
}

img {
    /* margin-top: 50px; */
    margin-right: 20px;
}

img:hover {
  cursor:pointer;
}


.topping {
	position: absolute;
	top: 8px;
	left: 140px;
}

/**google input style.*/

      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 15px;
        font-weight: 300;
        margin-left: calc(50% - 50%);
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 500px;
      }

      #pac-input:focus {
        border: 1px solid rgba(255, 0, 0, .3);
        font-family: 'Josefin Sans', sans-serif;
      }

      #type-selector {
        color: #fff;
        background-color: rgba(255, 0, 0, .3);
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }
      .selection {
        margin-left: calc((50% - 50%));
        width: 100%;
        text-align: center;
      }
/******/


.steps {
  width: 32%;
  opacity: 0.9;
  margin-left: 0.5%;
  margin-right: 0.5%;
  float: none;
  border-radius: 2px;
  padding-bottom: 20px;
}

#first {
    background-color: #AFB679;
    /* height: 187px; */
}

#second {
    background-color: #934D21;
}

#third {
    background-color: #DEB934;
}

textarea, button { outline: none; }

#direction_icon {
    width: 270PX;
    font-size: 18px;
    animation-name: pulse_animation_direct;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* margin-bottom: 36px; */
    position: relative;
    letter-spacing:4px;
    /*margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;*/
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-style: solid;
    border-width: 1px;
    padding-top:9px;
    padding-bottom:5px;
    padding-left:3px;
    box-shadow: 0px 0px 20px #fffdf0;
    background-color: rgba(255, 255, 255, 0.6);
}

#direction_icon:hover {
  cursor:pointer;
}


@keyframes pulse_animation_direct {
	0% { transform: scale(1); }
	20% { transform: scale(1.00); }
	40% { transform: scale(1.03); }
	60% { transform: scale(1.02); }
  80% { transform: scale(1.01); }
	100% { transform: scale(1); }
}

.bot_response {
    background-color: #FFF7CC;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 25px;
    border-radius: 2px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    width: 75%;
}

.your_response {
  background-color: #caa0af;
  margin-top: 15px;
  margin-left: calc((100% - 75%) - 20px);
  padding: 25px;
  border-radius: 2px;
  border-bottom-left-radius: 24px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  width: 75%;
}


/**Contact*/
#contact-section {
    height: 100vh;
    background-color: #AFB679;

}

#contact_text {
  font-family: 'Lobster', regular;
  color: #201816;
  font-size: 48px;
  padding-top: 24px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0px rgba(147, 77, 33, 0.38);
}

.num {
    position: relative;
    font-size: 84px;
    padding-top: 30px;
    text-align: center;
}

.description {
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0;
    text-shadow: none;
    text-align: center;
    padding-bottom: 20px;
}

.countdown-row {
    /* position: relative; */
    /* height: calc(90% - 371px); */
    /* background-color: black; */
    /* margin-top: 72px; */
    /* margin-bottom: 36px; */
}

.countdown-col {
  height: 231px;
}

#countdown_container {
    background-color: rgba(235, 239, 199, 0.58);
    /* margin-left: calc(50% - 25%); */
    border-style: solid;
    border-color: white;
    /* border-width: 4px; */
    color: #655952;
    /* box-shadow: 0px 0px 0px #e0e0e0; */
    height: 100%;
    padding: 10px;
}

#chat_container {
    height: 100%;
    background-color: #e1bf43;
}

#countdown-text {
    color: white;
    font-size: 72px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    font-family: 'Lobster', regular;
}

.timer {
  color: #40342d;
  /* padding-right: 18px; */
}

#countdown-text-2 {
    font-size: 28px;
    /* background-color: rgba(183, 188, 129, 0.37); */
}

#direction_container {
    /* background-color: rgba(183, 188, 129, 0.37); */
    padding-top: 24px;
    padding-bottom: 24px;
}

#center-items {position: absolute;margin-left: auto;margin-right: auto;left: 0;right: 0;top: 15vh;}

.form_input {
    border-style: none;
}

#form_textarea {
    border-style: none;
    resize: none;
}

.row {}

#contact_form {
    color: #201816;
}
